*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  /* HEADER */
.container{
    margin: 0 auto;
    background-color: #255ee9;
    height: 100px;
    display: flex;
    align-items: center;
}
    
.arial{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}



.nav{
    margin-top: 50%;
    margin: 0 auto;
    width: 80%;
    height: 35%;
    display: flex;

}

.logo{
    width: 25%;
    height: 100%;
    background-color: #255ee9;
    
    display: flex;
    align-items: center;
    padding-top: 4px;
}

.link{
    width: 60%;
    height: 100%;
    background-color: #255ee9;
    
    display: flex;
    align-items: center;
    justify-content: center;

}

ul{
    list-style: none;
    display: flex;
    justify-content: center;
}

li{
    margin: 0 10px;;
    color: white;
    
}

.login{
    width: 20%;
    height: 100%;
    background-color: #255ee9;
    
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.buttonlog{
    border-radius: 20px;
    padding: 7px;
    border: none;
    background-color: white;
    margin: 8px;
}

.macdownload{
    border-radius: 50px;
    padding: 15px;
    border: none;
    background-color: white;
    margin: 8px;
    font-size: large;

}

.open-browser{
    border-radius: 50px;
    padding: 15px;
    border: none;
    background-color: #1c1b29;
    color: white;
    font-size: large;
    margin: 8px;

}
    /* MAIN */

.container2{
    margin: 0 auto;
    background-image: url("../css/img/jumbo.png");
    background-repeat: no-repeat;
    background-size: contain;
    
    height: 566px;
    display: flex;
    align-items: center;
}

.presentation{
    
    margin: 0 auto;
    width: 55%;
    height: 80%;
    display: flex;
    flex-direction: column;
    
}

h1{
    align-self: center;
    
    font-size: 50px;
    color: white;
}

h3{
    color: white;
    text-align: center;
    padding: 50px;
    line-height: 200%;
}

h2{
    font-size: 35px;
}

p{
    margin-top: 10px;
    line-height: 200%;
}

.buttonmain{
    align-self: center;
}

.menuwhite{
    margin: 0 auto;
    background-color: #fff;
    height: 550px;
    display: flex;
    align-items: center;

}

.menugrey{
    margin: 0 auto;
    background-color: #d3d3d38a;
    height: 550px;
    display: flex;
    align-items: center;
    

}


.content{
  
    margin: 0 auto;
    width: 74%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.item1{
    padding-right: 40px;
    margin-left: -75px;
}

.content2{
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    padding-top: 40px;
    
}

.contentmg{
    
    margin: 0 auto;
    width: 74%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
   
    
}

.container3{                                                        
    margin: 0px auto;
    background-color: #d3d3d38a;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
}

.content3{
    background-image: url("../css/img/item4-big.svg");
    width: 65%;
    height: 80%;
    
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: contain;
    }

.lastblock{
    text-align: center;
    
}

.lastblock2{
    text-align: center;
    background-color: #d3d3d38a;
}

.star{
    display: flex;
    flex-direction: column;
    height: 15px;
    align-items: center;
}

.effect{
    display: flex;
    justify-content: center;
    padding: 20px;
    align-self: auto;
}

.macdownload2{
    border-radius: 50px;
    padding: 15px;
    border: none;
    background-color: #8ea1e1;
    margin: 8px;
    font-size: large;
}

.container4{
    margin: 0 auto;
    background-color: #23272a;
    height: 550px;
    display: flex;
    
}

.credit{
    
    margin: auto;
    width: 65%;
    height: 90%;
    display: flex;
    margin-top: 15px;
    
}

.maincredit{
    width: 28%;
    height: 100%;
    background-color: #23272a;
    
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    justify-content: flex-start;
}

.font-blue{
    color: #7289da;
}

ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
    margin-left: -10px;
        
}

.social{
    width: 20px;
    margin-right:7px
}


.creditlist{
    width: 18%;
    height: 100%;
    background-color: #23272a;
    

}

.footlist{
    margin: 0 19px;
    flex-direction: column;
    align-items: baseline;
    line-height: 200%;
    
}

.footer{
    background-color: #23272a;
    
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.content4{
    width: 65%;
    height: 80%;
    border-top: solid #8ea1e1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

.logofooter{
    width: 125px;
    height: 30px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.bottone{
    width: 75px;
    height: 35px;
    
    display: flex;
    align-items: center;
    justify-content: center;

}

.buttonfooter{
    border-radius: 20px;
    padding: 7px;
    border: none;
    background-color: #8ea1e1;
    margin: 8px;
    color: white;
}

.wave{
    background-image: url("../css/img/wave.svg");
    height: 100px;
    background-size: cover;
    filter: opacity(0.1);
}

.wave2{
    background-image: url("../css/img/wave.svg");
    height: 100px;
    background-size: cover;
    filter: opacity(0.1);
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
